
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
img{ 
    width: 100vw;
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}
a>button{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color:white;
    width: 100vw;
}
a>button:hover{
    background-color: red;
    cursor: pointer;
}
